
<div class="jumbotron">
<h1>Witam wszystkich w mojej aplikacji</h1>
<p>niebawem rzuci was na kolana !!!</p>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>